.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 90%;
}

.flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.p-heading {
  font-size: 2em;
  font-weight: bold;
}

.about-img img {
  height: 601px;
  object-fit: cover;
}

.link {
  width: 30%;
}

.form-2 img {
  position: relative;
  bottom: 2px;
  width: 30px;
  margin-right: 0.5rem;
}

.form-2 span {
  font-weight: bold;
  margin-right: 0.2rem;
}

.footer li {
  margin-bottom: 1.5rem;
}

.footer a {
  text-decoration: none;
}

.footer-about img {
  display: block;
  width: 220px;
  margin-bottom: 1rem;
}

.footer span {
  color: #fff;
  line-height: 2;
}

.footer h4 {
  margin-bottom: 2.6rem;
  margin-top: 1rem;
}

.solutions-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.item {
  margin-bottom: 2rem;
}

.last {
  margin-bottom: 0 !important;
}

.circle-numbering {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  color: #fff;
  text-align: center;
  background: #e62825;
  border-radius: 50%;
}

.accordion-title {
  color: #e62825;
}

.accordion-body {
  margin-top: 0.5rem;
}

.accordion-body a {
  color: #e62825;
}

.item span {
  cursor: pointer;
}

.breadcrumbs span {
  color: #e62825;
}

.breadcrumbs a {
  position: relative;
  bottom: 1px;
  text-decoration: none;
}

.our-philo .quotes {
  position: relative;
  padding: 10px;
}

.our-philo .quotes .fa-quote-left {
  color: #e62825;
  left: -11px;
  position: absolute;
  top: 3px;
}

.our-philo .quotes i.fa-quote-right {
  color: #e62825;
  right: -11px;
  position: absolute;
  top: 3px;
}

.about-page-img img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  clip-path: circle(71.9% at 31% 40%);
}

.value {
  margin-bottom: 2rem;
}

.value img {
  width: 40px;
  margin-right: 1rem;
}

.value li {
  list-style: none;
}

.solutions-items,
.our-story-info,
.about-text {
  padding-right: 5rem;
}

.solution-logo img {
  width: 120px;
}

.magio-img img {
  height: 680px;
}

.group img {
  width: 200px;
  margin: auto;
}

@media (min-width: 992px) and (max-width: 1183px) {
  .our-values-info,
  .solutions-items,
  .our-story-info {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-img img,
  .solutions-img img,
  .about-page-img img {
    clip-path: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-img img,
  .solutions-img img,
  .about-page-img img {
    height: auto;
    margin-bottom: 2rem;
  }
  .our-values-info,
  .solutions-items,
  .our-story-info {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .group img {
    width: 150px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-img img,
  .solutions-img img,
  .about-page-img img {
    height: auto;
    margin-bottom: 2rem;
  }

  .solutions-items,
  .our-story-info,
  .about-text {
    padding-right: 0;
  }

  .link {
    width: 100%;
  }

  .li-space-lg li {
    margin-bottom: 2rem;
  }

  .our-values-info,
  .solutions-items,
  .our-story-info {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .group img {
    margin-bottom: 2rem;
  }
}
